$white: #fff;
$off-white: #ebebeb;
$black: #000;

/* -- Logo Colors -- */
$primary-1: #14d900;
$primary-2: #13c900;
$primary-3: #08a700;

$onyx-1: #3a3a3a;
$onyx-2: #2a2a2a;
$onyx-3: #1a1a1a;

/* -- Primary -- */
//Primary #14d900
$toxic-1: #1aff00;
$toxic-2: #18f200;
$toxic-3: $primary-1;
$toxic-4: #13bf00;
$toxic-5: #11a600;

/* -- Secondary -- */
//Primary #600e8c
$poison-1: #8313bf;
$poison-2: #7211a6;
$poison-3: #600e8c;
$poison-4: #4f0b73;
$poison-5: #3d0959;

$poison-transition: rgb(61, 9, 89, 0.3);

/* Switch Colors */

/*Default Colors */
$switch-defualt-black: #828282;
$switch-blue: #0ab9e6;
$switch-red: #ff3c28;

/* Neon Colors */

$switch-neon-yellow: #e6ff00;
$switch-neon-blue: #4655f5;

$switch-neon-green: #1edc00;
$switch-neon-pink: #ff3278;

$switch-neon-purple: #b400e6;
$switch-neon-orange: #faa005;

/* Super Mario */
$switch-mario-red: #e10f00;

/* Animal Crossing */
$switch-acnh-green: #82ff96;
$switch-acnh-blue: #96f5f5;

/* Labo */
$switch-labo: #b7aa73;

/* Eevee and Pikachu */
$switch-eevee: #c88d32;
$switch-pika: #ffdc00;
